body {
	overflow: hidden;	
}

#daytime {
	background: rgb( 16,146,222 );
	background: -moz-linear-gradient( 
		top,  
		rgba( 16, 146, 222, 1 ) 0%, 
		rgba( 123, 199, 255, 1 ) 100%
	);
	background: -webkit-gradient( 
		linear, 
		left top, 
		left bottom, 
		color-stop( 0%, rgba( 16, 146, 222, 1 ) ), 
		color-stop( 100%, rgba( 123, 199, 255, 1 ) ) 
	);
	background: -webkit-linear-gradient( 
		top, 
		rgba( 16, 146, 222, 1 ) 0%, 
		rgba( 123, 199, 255, 1 ) 100% 
	);
	
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
}